.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  margin-left: 100px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 5rem 0 0;
  margin-left: 100px;
  font-weight: bold;
}

.navBar {
  position: absolute;
  top: 0px;
  right: 0px;
}

.ul {
  list-style: none;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
}

.li {
  float: left;
  margin: 10px;
}

.listContainer {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex;
  height: 100%;
}

.joinTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  margin-left: 100px;

  width: 206px;
  height: 75px;

  background: rgba(85, 85, 255, 0.81);
}

.borderPwa {
  position: relative;
  margin-left: 100px;
}

.borderLaptop {
  position: relative;
  margin-right: 100px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
